[Desktop Entry]
Name=Globulation 2
Comment=An innovative new strategy game
Comment[pl]=Nowa innowacyjna gra strategiczna
Icon=globulation2.png
Exec=glob2
Terminal=false
Type=Application
Categories=Game;Strategy;
Encoding=UTF-8
# vi: encoding=utf-8
